#####################
# bower				#
#####################
bower_components
public/js/lib/**/*

#####################
# sass				#
#####################
public/css/**/*

#####################
# node				#
#####################
node_modules