#####################
# bower				#
#####################
bower_components
public/js/lib/**/*
public/scss/lib/**/*
foundation*

#####################
# sass				#
#####################
public/css/**/*

#####################
# node				#
#####################
node_modules