doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/screen.css')
  body
    block content

    <script data-main="/js/src/App.Bootloader.js" src="/js/lib/requirejs/require.js"></script>